{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <th>DateDeCreation</th>
            <td>{{ post.dateDeCreation ? post.dateDeCreation|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>DateExpiration</th>
            <td>{{ post.dateExpiration ? post.dateExpiration|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ post.description }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ post.titre }}</td>
        </tr>
        <tr>
            <th>Salaire</th>
            <td>{{ post.salaire }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_post_index') }}">back to list</a>

    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
